form#contact-form {
    display: grid;
    align-items: center;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto auto auto;
    margin-bottom: 50px;
    height: 75%;
}

div.form-title {
    text-align: center;
    grid-row: 1;
    grid-column: 3;
}

label.name {
    grid-row: 2;
    grid-column: 3;
    text-align: center;
}

label.subject {
    grid-row: 3;
    grid-column: 3;
    text-align: center;
}

label.message {
    grid-row: 4;
    grid-column: 3;
    text-align: center;
}

input#contact-form-submit {
    grid-row: 5;
    grid-column: 3;
    text-align: center;
}